@(series: List[Serie])

@main("Series") {

    <head>
        <title>Series</title>
        <meta charset="UTF-8">

        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    </head>

    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="text-center">Series</h1>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="text-center">Séries Não Acompanhadas</h3>
                                </div>

                                <div class="panel-body">
                                    @for(serie <- series){
                                        @if(!serie.isAssistindo){
                                            <div id="accordion" class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@serie.getNome.split(" ")@serie.getId">@serie.getNome</a>
                                                            <form class="pull-right" action="@routes.Application.assistirSerie(serie.getId)" method="post" >
                                                                <button class="btn btn-success btn-xs">Acompanhar</button>
                                                            </form>
                                                        </h4>
                                                        <br/>
                                                    </div>
                                                    <div id="@serie.getNome.split(" ")@serie.getId" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                @for(temporada <- serie.getTemporadas){
                                                                    <li>Temporada - @temporada.getNumero</li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="text-center">Séries Acompanhadas</h3>
                                </div>

                                <div class="panel-body">
                                @for(serie <- series){
                                    @if(serie.isAssistindo){
                                        <div id="accordion" class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#@serie.getNome.split(" ")@serie.getId">@serie.getNome</a>
                                                    </h4>
                                                    <br/>
                                                </div>
                                                <div id="@serie.getNome.split(" ")@serie.getId" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        @for(temporada <- serie.getTemporadas){
                                                            <div id="accordion" class="panel-group">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <h4 class="panel-title">
                                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@temporada.getId@temporada.getSerie.getNome.split(" ")">@temporada.getNumero Temporada - @temporada.getQuantidadeDeEpisodiosAssistidos/@temporada.getTotalDeEpisodios</a>
                                                                            
                                                                        </h4>
                                                                        <br/>
                                                                    </div>
                                                                    <div id="@temporada.getId@temporada.getSerie.getNome.split(" ")" class="panel-collapse collapse">
                                                                        <div class="panel-body">
                                                                        <ol>
                                                                            @for(episodio <- temporada.getEpisodios){
                                                                                @if(episodio.isAssistido){
                                                                                    <li>
                                                                                        <del>@episodio.getNome</del>
                                                                                    </li>
                                                                                    <br/>
                                                                                } else {
                                                                                    <li>
                                                                                        @if(temporada.isProximoEpisodioAssistir(episodio)){
                                                                                            @episodio.getNome (PRÓXIMO)
                                                                                        } else {
                                                                                            @episodio.getNome
                                                                                        }

                                                                                        <form class="pull-right" action="@routes.Application.assistirEpisodio(episodio.getId)" method="post" >
                                                                                            <button class="btn btn-success btn-xs">Já assisti!</button>
                                                                                        </form>
                                                                                    </li>
                                                                                    <br/>
                                                                                }
                                                                            }
                                                                        </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
}
