@(series: List[Serie])

@main("Series") {
		<div class="container">
            <div class="header">
                <div class="page-header">
              		<h1>Minhas Series</h1>
            	</div>
            </div>
        </div>
		<div class="container">
                <div class="row">
                        <div class="col-sm-6">
                                <div class="page-header">
                                    <h3>Séries Não Acompanhadas</h3>
                                </div>
                                @for(serie <- series){
                                        @if(!serie.isAssistindo){
                                            <div id="accordion" class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@serie.getNome.split(" ")@serie.getId">@serie.getNome</a>
                                                            <form class="pull-right" action="@routes.Application.acompanharSerie(serie.getId)" method="post" >
                                                                <button class="btn btn-success btn-xs">Acompanhar</button>
                                                            </form>
                                                        </h4>
                                                        <br/>
                                                    </div>
                                                    <div id="@serie.getNome.split(" ")@serie.getId" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                @for(temporada <- serie.getTemporadas){
                                                                    <li>Temporada - @temporada.getNumero</li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                }
                                
                        </div>

                        <div class="col-sm-6">
                                <div class="page-header">
                                    <h3>Séries Acompanhadas</h3>
                                </div>
								@for(serie <- series){
                                    @if(serie.isAssistindo){
                                        <div id="accordion" class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#@serie.getNome.split(" ")@serie.getId">@serie.getNome</a>
                                                    </h4>
                                                    <small><br />Próximo episodio: </small>
                                                    <div class="btn-group">
                                                    		
															  <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
															    @serie.getProximoEpisodioExtrator.toString <span class="caret"></span>
															  </button>
															  <ul class="dropdown-menu btn-xs" role="menu">
															    <li><a href="@routes.Application.proximoSerie(serie.getId,1)">O mais antigo não assistido.</a></li>
															    <li><a href="@routes.Application.proximoSerie(serie.getId,2)">O próximo depois do último assistido.</a></li>
															    <li><a href="@routes.Application.proximoSerie(serie.getId,3)">O mais antigo (não indicar próximo se houver mais de três Assistidos depois dele).</a></li>
															  </ul>
													</div>
                                                </div>
                                                <div id="@serie.getNome.split(" ")@serie.getId" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        @for(temporada <- serie.getTemporadas){
                                                            <div id="accordion" class="panel-group">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <h4 class="panel-title">
                                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@temporada.getId@temporada.getSerie.getNome.split(" ")">@temporada.getNumero Temporada - @temporada.getQuantidadeDeEpisodiosAssistidos/@temporada.getTotalDeEpisodios</a>
                                                                            
                                                                        </h4>
                                                                        <br/>
                                                                    </div>
                                                                    <div id="@temporada.getId@temporada.getSerie.getNome.split(" ")" class="panel-collapse collapse">
                                                                        <div class="panel-body">
                                                                        <ol>
                                                                            @for(episodio <- temporada.getEpisodios){
                                                                                @if(episodio.isAssistido){
                                                                                    <li>
                                                                                        <del>@episodio.getNome</del>
                                                                                    </li>
                                                                                    <br/>
                                                                                } else {
                                                                                    <li>
                                                                                        @if(temporada.isProximoEpisodioAssistir(episodio)){
                                                                                            @episodio.getNome (PRÓXIMO)
                                                                                        } else {
                                                                                            @episodio.getNome
                                                                                        }

                                                                                        <form class="pull-right" action="@routes.Application.assistirEpisodio(episodio.getId)" method="post" >
                                                                                            <button class="btn btn-success btn-xs">Já assisti!</button>
                                                                                        </form>
                                                                                    </li>
                                                                                    <br/>
                                                                                }
                                                                            }
                                                                        </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                        </div>
                </div>
        </div>
}
